name: "build"
on:
  pull_request:
    branches:
      - main
  merge_group:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 0" # 0000 UTC Sunday

env:
  FQ_NAME: ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}

jobs:
  build:
    name: Build ${{ matrix.platform }}
    runs-on: ${{ matrix.platform == 'x86_64' && 'ubuntu-24.04' || 'ubuntu-24.04-arm' }}
    outputs:
      digest-latest-x86_64: ${{ steps.push.outputs.digest-latest-x86_64 }}
      digest-latest-aarch64: ${{ steps.push.outputs.digest-latest-aarch64 }}
      digest-titanoboa-x86_64: ${{ steps.push.outputs.digest-titanoboa-x86_64 }}
      digest-titanoboa-aarch64: ${{ steps.push.outputs.digest-titanoboa-aarch64 }}
    permissions:
      actions: read
      contents: read
      packages: write
    strategy:
      fail-fast: false
      matrix:
        platform:
          - x86_64
          - aarch64
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Image name
        id: name
        run: |
          echo "FQ_NAME=${FQ_NAME,,}" >> "$GITHUB_OUTPUT"

      - name: Build Dev Container
        id: build
        uses: devcontainers/ci@8bf61b26e9c3a98f69cb6ce2f88d24ff59b785c6 # v0.3
        with:
          subFolder: ./src/base
          imageName: ${{ steps.name.outputs.FQ_NAME }}
          imageTag: latest-${{ matrix.platform }}
          push: never

      - name: Build Titanoboa Dev Container
        id: build-titanoboa
        uses: devcontainers/ci@8bf61b26e9c3a98f69cb6ce2f88d24ff59b785c6 # v0.3
        with:
          cacheFrom: ghcr.io/ublue-os/devcontainer:latest-${{ matrix.platform }}
          subFolder: ./src/titanoboa
          imageName: ${{ steps.name.outputs.FQ_NAME }}
          imageTag: titanoboa-${{ matrix.platform }}
          push: never

      - name: Install Cosign
        if: contains(fromJson('["workflow_dispatch", "merge_group", "schedule"]'), github.event_name)
        uses: sigstore/cosign-installer@d58896d6a1865668819e1d91763c7751a165e159 # v3.9.2

      - name: Login to GHCR
        if: contains(fromJson('["workflow_dispatch", "merge_group", "schedule"]'), github.event_name)
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Push to GHCR
        if: contains(fromJson('["workflow_dispatch", "merge_group", "schedule"]'), github.event_name)
        id: push
        run: |
          skopeo copy --digestfile=/tmp/digest-latest --retry-times=5 docker-daemon:${{ steps.name.outputs.FQ_NAME }}:latest-${{ matrix.platform }} docker://${{ steps.name.outputs.FQ_NAME }}:latest-${{ matrix.platform }}
          skopeo copy --digestfile=/tmp/digest-titanoboa --retry-times=5 docker-daemon:${{ steps.name.outputs.FQ_NAME }}:titanoboa-${{ matrix.platform }} docker://${{ steps.name.outputs.FQ_NAME }}:titanoboa-${{ matrix.platform }}
          echo "digest-latest=$(cat /tmp/digest-latest)" >> "$GITHUB_OUTPUT"
          echo "digest-titanoboa=$(cat /tmp/digest-titanoboa)" >> "$GITHUB_OUTPUT"
          echo "digest-latest-${{ matrix.platform }}=$(cat /tmp/digest-latest)" >> "$GITHUB_OUTPUT"
          echo "digest-titanoboa-${{ matrix.platform }}=$(cat /tmp/digest-titanoboa)" >> "$GITHUB_OUTPUT"

      - name: Sign
        if: contains(fromJson('["workflow_dispatch", "merge_group", "schedule"]'), github.event_name)
        run: |
          cosign sign -y --key env://COSIGN_PRIVATE_KEY ${{ steps.name.outputs.FQ_NAME }}@${{ steps.push.outputs.digest-latest }}
          cosign sign -y --key env://COSIGN_PRIVATE_KEY ${{ steps.name.outputs.FQ_NAME }}@${{ steps.push.outputs.digest-titanoboa }}
        env:
          COSIGN_PRIVATE_KEY: ${{ secrets.SIGNING_SECRET }}

  manifest:
    name: Manifest ${{ matrix.target == 'latest' && 'DevContainer' || 'Titanoboa' }}
    if: contains(fromJson('["workflow_dispatch", "merge_group", "schedule"]'), github.event_name)
    needs: ["build"]
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        target:
          - latest
          - titanoboa
    container:
      image: "ghcr.io/ublue-os/devcontainer:latest-x86_64@sha256:a91a9d33c3271ad55570c19e2b524fcf0006ec028dd68f730130e43c427db5ab"
      options: "--privileged --volume /var/lib/containers:/var/lib/containers --security-opt seccomp=unconfined --security-opt label=disable --user 0:0"
    steps:
      - name: Image name
        id: name
        run: |
          echo "FQ_NAME=${FQ_NAME,,}" >> "$GITHUB_OUTPUT"

      - name: Login to GHCR
        run: |
          podman login ghcr.io --password=${{ github.token }} --username=${{ github.actor }}

      - name: Signing Key
        run: |
          printf "%s" "$COSIGN_PRIVATE_KEY" > /tmp/cosign.key
        env:
          COSIGN_PRIVATE_KEY: ${{ secrets.SIGNING_SECRET }}

      - name: Manifest
        run: |
          LABELS=(
            "name=${{ matrix.target == 'latest' && 'devcontainer' || 'titanoboa' }}"
            "org.opencontainers.image.name=devcontainer"
            "org.opencontainers.image.url=https://github.com/ublue-os/devcontainer"
            "org.opencontainers.image.vendor=Universal Blue"
            "org.opencontainers.image.version=${{ matrix.target == 'latest' && 'base' || 'titanoboa' }}"
            "vendor=Universal Blue"
            "version=${{ matrix.target == 'latest' && 'base' || 'titanoboa' }}"
          )

          MANIFEST="$(podman manifest create ${{ steps.name.outputs.FQ_NAME }}:${{ matrix.target }})"

          for label in "${LABELS[@]}"; do
              echo "Applying label "${label}" to manifest"
              podman manifest annotate --index --annotation "$label" "${MANIFEST}"
          done

          if [[ "${{ matrix.target }}" == "latest" ]]; then
              podman manifest add "$MANIFEST" ${{ steps.name.outputs.FQ_NAME }}@${{ needs.build.outputs.digest-latest-x86_64 }}
              podman manifest add "$MANIFEST" ${{ steps.name.outputs.FQ_NAME }}@${{ needs.build.outputs.digest-latest-aarch64 }}
          else
              podman manifest add "$MANIFEST" ${{ steps.name.outputs.FQ_NAME }}@${{ needs.build.outputs.digest-titanoboa-x86_64 }}
              podman manifest add "$MANIFEST" ${{ steps.name.outputs.FQ_NAME }}@${{ needs.build.outputs.digest-titanoboa-aarch64 }}
          fi

          for i in {1..5}; do
              podman manifest push --all --sign-by-sigstore=/etc/ublue-os-param-file.yaml ${{ steps.name.outputs.FQ_NAME }}:${{ matrix.target }} && exit 0 || sleep $(( i * 5 ));
          done
          podman manifest push --all --sign-by-sigstore=/etc/ublue-os-param-file.yaml ${{ steps.name.outputs.FQ_NAME }}:${{ matrix.target }} || exit 1
